.dashboard-container {
  /* max-width: 800px; */
  /* margin: 50px auto; */
  /* padding: 20px; */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-container h2 {
  text-align: center;
  color: #333;
}

.create-url-box {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.create-url-box form {
  display: flex;
  width: 100%;
  max-width: 600px;
  gap: 10px;
}

.create-url-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.url-list {
  margin-top: 30px;
}

.url-list h3 {
  color: #333;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  word-break: break-all;
}

th {
  background: #f1f1f1;
}
tr:hover{
background-color: #f1f1f1a6;
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.delete-icon {
  width: 24px;
  height: 24px;
  fill: red;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.delete-icon:hover {
  transform: scale(1.15);
}
